<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/header') %>
</head>

<body>
    <%- include ('../../partials/navbar') %>
        <div class="container"><br>
            <div class="card">
                <div class="card-header">
                    <h2>Edit article <%= article.title %>
                    </h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/articles/update">
                        <input type="hidden" value="<%= article.id %>" name="idHidden">
                        <input class="form-control" type="text" name="title" value="<%= article.title %>"><br>
                        <textarea class="form-control" name="body" rows="10" id="article"></textarea><br>
                        <label>Category</label>
                        <select name="categoryArticle" class="form-control">
                            <% categories.forEach((category)=> { %>

                                <% if(category.id == article.categoryId) { %>
                                    <option value="<%= category.id %>" selected>
                                        <%= category.title %>
                                    </option>
                                <%}else { %>
                                    <option value="<%= category.id %>">
                                        <%= category.title %>
                                    </option>
                                <%}%>
                            <% }) %>
                        </select><br>
                        <button class="btn btn-success">Send</button>
                    </form>
                </div>
            </div>
        </div>
</body>
<%- include ('../../partials/footer') %>

<script src="https://cdn.tiny.cloud/1/7ud8mqyv0b455whpf7k3qf6es8ypy15yrbvhefjlpj382nax/tinymce/6/tinymce.min.js"
    referrerpolicy="origin">
</script>
<script>
    tinymce.init({
        selector: '#article',
        plugins: 'emoticons wordcount lists image print advlist searchreplace fullscreeb insertdatetime media save table paste',
        init_instance_callback: () => {
            tinymce.get("article").setContent("<%- article.body %>")
        }
    });
</script>

</html>